html {
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
}

/*breadcrumb*/
nav{
  position: fixed;
  top: 0;
  width: 100%;

}
.breadcrumb{
  background: linear-gradient(#F8F594, #D5D533);
  background: -webkit-linear-gradient(#F8F594, #D5D533);
  background: -o-linear-gradient(#F8F594, #D5D533);
  background: -moz-linear-gradient(#F8F594, #D5D533);
  border-radius: 0;
}
.breadcrumb .breadcrumb-item,.breadcrumb a{
text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color:#5d12e7;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}
.breadcrumb li:hover, .breadcrumb.a:hover{
  font-size: 20px;
  font-weight: bold;
  color: #B314DB;
}

/*table */

.table{
  color:#5d12e7;
  margin: 100px 10px;
}
thead{
  background: linear-gradient(#B314DB, #5d12e7);
  background: -webkit-linear-gradient(#B314DB, #5d12e7);
  background: -o-linear-gradient(#B314DB, #5d12e7);
  background: -moz-linear-gradient(#B314DB, #5d12e7);
  color: white;
cursor: pointer;

}

/*icons*/
ion-icon{
  font-size: 24px;
  color:#5d12e7;
  margin-right: 5px;
  padding-top: 3px;
 
}
.fname{
  cursor: pointer;
}

tbody{
  display: block;
  height: 300px;
  overflow-y: scroll;
  text-decoration: none;
}
tbody a{
  text-decoration: none;

 
}
thead, tbody tr{
  display: table;
  table-layout: fixed;
  width: 100%;
}
footer{
  position: absolute;
  bottom: 0;
  height: 60px;
  background: linear-gradient(#F6F390, #D5D533);
  background: -webkit-linear-gradient(#F6F390, #D5D533);
  background: -o-linear-gradient(#F6F390, #D5D533);
  background: -moz-linear-gradient(#F6F390, #D5D533);
  padding: 10px 30px;
  margin-top: auto;
  width: 100%;

}
